@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

p {
  color: red;
  font-family: "Syne Mono", monospace;
}
li {
  color: seashell;
  list-style: square;
  list-style-position: outside;
}

p,
span {
  text-shadow: yellow 0 0 3px;
}

#fourthitem {
  color: black;
}
.number1 {
  font-size: 30px;
}
* {
  text-transform: uppercase;
}
div > p {
  background-color: chartreuse;
}
